@import url('https://fonts.googleapis.com/css?family=Kavivanar');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.jumbotron{
    font-family: 'Kavivanar', cursive;
    background-color: black;
    color: white;
}
.card{ background-color: #ccc;}
.card a { color: black;}
.card a:hover { color: red;}
h3{
    display: block;
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Kavivanar', cursive;
    margin: 10%;
}
.box{
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 5%;
    border: 2px solid red;
    padding: 10px;
}
