@import url('https://fonts.googleapis.com/css?family=Yatra+One');
html,
body {
  width: 100%;
  height: 100vh;
  font-family: 'Yatra One', cursive;
  
}

.container, .container-fluid {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.container-fluid{
width: 100%;
  height: 100vh;
  background: url(../img/bg.jpg)!important;
  background-repeat: no-repeat;
  background-size: cover;
}
#logo{
  font-size: 150px;
  text-align: center;
  color: gray!important;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
