@import url('https://fonts.googleapis.com/css?family=Yatra+One');
html,
body {
    width: 100%;
    height: 100vh;
    font-family: 'Yatra One', cursive;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    /* background-color: black; */
    background-color: #05054C!important;
    /* background-image: url('../img/bg.jpg')!important; */
    background-position: 0 15%;
}

header>div {
    margin: 0 20px !important;
}
/* css de material-icons */
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}
.content-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    font-family: 'Jua', sans-serif !important;
    font-size: 4em !important;
    color: blue !important;
}
.jumbotron{
    background: linear-gradient(#05054C,white)!important;
    color: white;
    border-radius: 0;
}
.disponibles{
    background-color: #05054C;
    color: white;
    /* display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; */
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}
.disponibles span{
    margin-left: 5px;
}
/* css para los botones de la navegacion */

.navbarbut {
    font-family: Prime;
    text-align: center;
    text-transform: uppercase;
    padding: .5em 0.8em;
    position: relative;
    font-size: 20px;
    border: none;
    color: white;
    background: transparent!important;
}

.navbarbut::before,
.navbarbut::after {
    height: 14px;
    width: 14px;
    position: absolute;
    content: '';
    transition: all 0.35s ease;
    opacity: 0;
}

.navbarbut::before {
    right: 0;
    top: 0;
    border-right: 3px solid cornflowerblue!important;
    border-top: 3px solid cornflowerblue!important;
    transform: all 0.35s ease;
    transform: translate(-100%, 50%);
}

.navbarbut::after {
    left: 0;
    bottom: 0;
    border-left: 3px solid cornflowerblue!important;
    border-bottom: 3px solid cornflowerblue!important;
    transform: all 0.35s ease;
    transform: translate(-100%, 50%);
}

.navbarbut:hover::before,
.navbarbut:hover::after {
    transform: translate(0%, 0%);
    opacity: 1;
}
/* css para las tablas */
.thead{
    background-color: rgb(7, 7, 206);
    color:white;
}
/* css para el formulario 'login'*/
.form-signin h3{
    background-color:cornflowerblue; 
    border-radius:4px; 
    padding:5px;
}
.container{
    width: 400px;
    position: absolute;
    top: 0px;
    left:0px;
    transform: translate(100%,50%);
}
.form-login, .form-subida {
    width: 100%;
    height: 100%;
    margin: 5% auto;
    box-sizing: border-box;
    background-color: cornflowerblue !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-login .eform {
    width: 415px;
    height: auto!important;
    background-color: cornflowerblue !important;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.form-login .eform input, .form-subida .eform input {
    display: block;
    margin: 10px;
    text-align: center;
}
.form-login #enviar,
.form-subida .eforn input[type="submit"],
.form-subida .eform input[type="submit"] {
    width: 95%;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 2em;
    padding: 10px;
    background-color: black;
    color:white;
    text-align: center;
}
.form-subida .eforn input[type="radio"]{ display: inline;}
.radios {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: baseline;
    align-content: space-between;
}
/* css del body home */
.container-box{
    width: 100%;
    height: 100vh;
    padding: 10% 10%;
    /* background-color: rgba(4, 4, 105, 0.8); */
}
