* { box-sizing: border-box;}
html, body {
    width: 99%;
    height: 99%;
    margin: 0;
    padding: 0; 
}
#wrapper { 
    width: 80%;
    height: 100%;
    margin: auto;
}
#cabecera { 
    height: 25%;
    background-color: black;
    color: blueviolet;
    font-size: 2em;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav { 
    width: 100%;
    height: 5%;
    background-color: blueviolet;
    overflow: hidden;
}
    /* css menu horitzontal*/
    #nav ul {
        width: 50%;
        float: left;
        list-style-type: none;
    }
    #nav li {
        width: 25%;
        display: inline-block;
    }
    #nav a { 
        text-decoration: none;
        color: white;
    }
#menu_vertical {
    clear: both;
    float: left;
    height: 50%;
    width: 25%;
    background-color: gray;
}
    /* css menu vertical */
    #menu_vertical ul { 
        list-style-type: none;
        margin-top: 2%;
    }
    #menu_vertical li:hover {
        background-color: blueviolet;
     }
    #menu_vertical a { 
        color: white;
        text-decoration: none;
    }
#contenido {
    float: right;
    height: 50%;
    width: 75%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#pie { 
    clear: both;
    height: 20%;
    background-color: black;
    color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}