h5{
    color:white!important; 
}
#lista {
    background-color:black;
    padding: 1.5em;
}
#lista ul{
    list-style-type: none;
}
#lista li {
    margin: 5px;
}
#lista ul li a {
    position: relative;
    /* overflow: hidden; */
    text-decoration: none;
    color: blue;
    display: block;
    transition: all 2s ease-in-out;
}
#lista ul li a:before{
    content: '';
    width: 8%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: -40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: rgba(255, 255, 255, 0.884);
}
#lista ul li a:hover:before{
   width: 100%;
}
#lista a:hover{
    color: black;
    background-color: transparent;
}