* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
}

html,
body {
    width: 99%;
    height: 99%;
    background-color: gray;
}

ul {
    list-style-type: none;
}

li {
    display: inline-flex;
    background-color: white;
    border: 2px solid blueviolet;
    margin: 2%;
}

p {
    text-align: center;
    font-size: 1.5em;
}

li p {
    font-size: 0.8em;
}

#wrapper {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: white;
    overflow: hidden;
}

header {
    height: 10%;
    background-color: rosybrown;
}

nav {
    height: 5%;
    background-color: blueviolet;
}

#contenedor {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: row;
    background-color: rosybrown;
    align-content: center;
    
    
}

aside {
    width: 25%;
    border: 2px solid blueviolet;
}

article {
    width: 75%;
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    border: 2px solid blueviolet;
}

section {
    width: 50%;
    height: 50%;
    border: 2px solid blueviolet;
}
footer {
    height: 5%;
    background-color: rosybrown;
    border-top: 1px solid blueviolet,
}