h5{
    color:white!important; 
}
#lista {
    background-color:black;
    padding: 1.5em;
}
#lista ul{
    list-style: none;
    width: 200px;
}
#lista li {
    width: 100%;
    margin: 5px;
    box-shadow: 4px solid rgba(255, 255, 255, 0.2) inset !important;
    transition: all 2s;
}
#lista ul li a {
    text-decoration: none;
    color: blue;
    display: block;
    width: 100%;
    
}
#lista ul li:hover {
    box-shadow: 200px solid rgba(255, 255, 255, 0.2) inset !important;
}
